:root {
    --primary-color: teal;
    --secondary-color: #024e76;
    --tertiary-color: #a4f1fade; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

.section-header,
.contact-header {
font-size: 45px;
flex: 1 100%;
padding: 20px;
text-align: center;
max-width: 200px;
}

.section-title {
    display: flex;
    flex-direction: row;
}

/* Header Styling Start */
header {
    background-color: var(--tertiary-color);
    padding: 20px 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    margin-bottom: 50px;
}

header h1 {
   font-weight: bold; 
   font-size: 36px;
   color: white;
   margin: 0;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var( --secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a{ 
    padding: 10px 15px; 
    font-weight: lighter;
    font-size: 1.55vw;
}


header nav ul li a:hover {
    background: var( --primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* Header Styling End*/

/*About Me Styling Start */
#about-me {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
margin-bottom: 50px;
}

.headshot {
display: flex;
flex: 0 25%;
max-width: 25%;
padding: 10px;
border-left: 5px solid var(--secondary-color);
}

#about-me p {
    flex: 1 100%;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
  }
  /*About Me Styling End */

  /*Work Styling Start */
#work {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.work-header {
    background-color: var(--tertiary-color);
    color: black;
    position: absolute;
    bottom: 50px;
    left: 0;
  }

.projects {
    border-left: 5px solid var(--secondary-color);
    padding: 10px;
    
}

.projects a {
    text-decoration: none;
}

.projects article:hover{
    opacity: 0.75;
    border: 5px solid var(--secondary-color);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
}

.run-buddy {
    position: relative; 
    margin: 0;
    padding: 0;
    border: 5px solid var(--tertiary-color);
}

.run-buddy img {
    display: flex;
    flex: 0 100%;
    max-width: 100%;
}

.calculator {
    position: relative; 
    margin: 0;
    padding: 0;
    border: 5px solid var(--tertiary-color);
    flex: 0 50%;
}


.calculator img { 
    display: flex;
    max-width: 75%;
     object-fit: cover;
}

.tetris {
    position: relative; 
    flex: 0 50%;
    margin: 0;
    padding: 0;
    border: 5px solid var(--tertiary-color);
}


.tetris img { 
    display: flex;
    max-width: 75%;
    object-fit: cover;
}
 /*Work Styling End */

 /*Contact Me Styling Start */
.contact-info {
    display: flex;
    justify-content: space-between;
}
.contact-info address{
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    font-size: 32px;
    flex: 1 100%;
    padding: 10px;
    font-style: normal;
    text-decoration: none;
} 

.contact-info a {
    text-decoration: none;
    color: black;
}
.contact-border {
    padding: 10px;
    border-left: 5px solid var(--secondary-color);
}

.number p {
    display: none;
    font-size: 24px;
    color: var(--primary-color);
}
.number:hover p{
    display: contents;
}

.number {
    margin-right: 200px;
}

.email {
    margin-right: 200px;
}
 /*Contact Me Styling End */

/* MEDIA QUERIES FOR TABLETS AND SMALLER*/
@media screen and (max-width: 768px) {  
    .header {
        width: 100%;
    }
   .section-title {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .section-header,
    .contact-header {
        display: flex;
        justify-content: center;
        align-items: center; 
        max-width: none;
    }
    
    header nav ul li a {
        font-size: 20px;
    }
    .contact-info address {
        border-left: none;
        flex-wrap: wrap;
    }
    .projects {
        border-left: none;   
    }
    .headshot {
        border-left: none;
        max-width: 50%;
    }
    .number {
        font-size: 24px;
    }
    .email {
        font-size: 24px;
    }
    .github {
        font-size: 24px;
    }

    .number,
    .email {
        margin: 0px
    }

    .contact-border {
        padding: 0px;
        border-left: none;
        padding-left: 5px;
    }
    .number:hover p{
        display: none;
    }
    
}

/* MEDIA QUERIES FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px) {
    .contact-info address {
        font-size: 24px;
        flex-direction: column;
        text-align: center;
    }
    header nav ul li a {
        font-size: 20px;
        justify-content: space-between;
        padding: 5px;
    }
}